.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  padding: 0 2em;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}

.link-animation {
  position: relative;
}

.link-animation::after, .link-animation::before {
  content: '';
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  width: 0;
  bottom: 0;
  border-bottom: 5px solid #7cc576;
}

.link-animation::before {
  left: 50%;
}

.link-animation::after {
  right: 50%;
}

.link-animation:hover::before, .link-animation:hover::after {
  width: 50%;
}

.green-btn {
  padding: 1.3em 2em;
  background-color: #7cc576;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}

.green-btn:hover {
  background-color: #518b4b;
}

.three-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  text-align: center;
}

.three-columns--one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.three-columns--two {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.three-columns--three {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.section-padding {
  padding: 4em 0;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  padding-left: 1em;
  padding-right: 1em;
}

.section-subtitle {
  text-align: center;
  color: #777777;
}

@media (min-width: 576px) {
  .section-title {
    font-size: 3.5rem;
  }
  .section-subtitle {
    font-size: 2rem;
  }
  .section-padding {
    padding: 5em 0;
  }
  .three-columns {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .three-columns--one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .three-columns--two {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .three-columns--three {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (min-width: 768px) {
  .three-columns {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
  .three-columns--one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .three-columns--two {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .three-columns--three {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}

@media (min-width: 992px) {
  .section-title {
    font-size: 4rem;
  }
  .section-subtitle {
    font-size: 2.2rem;
  }
  .section-padding {
    padding: 6em 0;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

.header {
  padding-top: 1.5em;
  position: relative;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  cursor: pointer;
}

.header__burger-btn {
  border: 1px solid transparent;
  background-color: #fff;
  font-size: 3rem;
  cursor: pointer;
  z-index: 100;
}

.header__burger-btn:hover {
  color: #777777;
}

.header__img {
  background-image: url(../img/header-img.png);
  height: 60vh;
  background-position: center bottom;
  background-size: cover;
  margin-top: 1.5em;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header__heading, .header__text, .header__link {
  color: #fff;
  z-index: 100;
}

.header__heading {
  font-weight: 700;
  font-size: 3rem;
  padding: 0.8em;
  max-width: 340px;
  width: 100%;
}

.header__text {
  font-size: 1.7rem;
}

.header__link {
  margin-top: 3em;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 10;
}

.nav-mobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-mobile__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.nav-mobile__item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 1em;
  color: #777777;
}

.services__boxes {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
  text-align: center;
}

.services__box {
  padding: 1em 0.5em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.services__box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.services__box-heading {
  font-size: 2rem;
  padding: 1.5em 0 1em 0;
}

.services__box-text {
  color: #777777;
}

.relax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.relax__content {
  position: relative;
  color: #fff;
  background-image: url(../img/sea.png);
  padding-left: 2em;
  padding-right: 2em;
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  width: 100%;
}

.relax__title {
  text-align: left;
  max-width: 570px;
  width: 100%;
}

.relax__title span {
  color: #7cc576;
}

.relax__text {
  padding: 1em 0 1.5em 0;
  max-width: 550px;
  width: 100%;
}

.relax__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3em 0;
}

.relax__advantage-img {
  padding-right: 1em;
}

.relax__link {
  margin-top: 2em;
}

.portfolio {
  position: relative;
}

.portfolio__heading {
  padding: 3em 0 1em 0;
}

.portfolio__text {
  color: #777777;
  width: 100%;
  max-width: 540px;
}

.portfolio__items {
  padding-top: 2em;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

.portfolio__item-text {
  padding-left: 1em;
}

.portfolio__item-h5 {
  font-size: 1.6rem;
  padding-bottom: 0.3em;
}

.portfolio__item-p {
  color: #777777;
  font-size: 1.5rem;
}

.portfolio__link {
  display: inline-block;
  color: #7cc576;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 2em;
  padding: 0.5em;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.portfolio__link:hover {
  color: #777777;
}

.portfolio__tablet {
  background-image: url(../img/tablet.png);
  background-size: cover;
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

.values {
  background-color: #f9f9f9;
}

.values__boxes {
  padding-top: 4em;
  position: relative;
}

.values__box {
  padding: 1em 0.5em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.values__box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.values__box-heading {
  font-size: 2rem;
  padding: 1.5em 0 1em 0;
}

.values__box-text {
  color: #777777;
}

.opinions__subtitle {
  margin-bottom: 3em;
}

.opinions__box {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.opinions__box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.opinions__box-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 100%;
  padding: 1em 0;
}

.opinions__box-text {
  background-color: #f9f9f9;
  padding: 1em;
  text-align: center;
}

.opinions__box-paragraph {
  color: #777777;
  padding-bottom: 1em;
  font-size: 1.7rem;
}

.opinions__box-span {
  color: #7cc576;
  font-weight: 600;
  font-size: 1.3rem;
}

.ready {
  background-color: #7cc576;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ready__title {
  color: #fff;
}

.ready__btn {
  border: 3px solid white;
  background: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  margin-top: 1em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.ready__btn:hover {
  background: #fff;
  color: #777777;
}

.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  place-items: center;
  padding: 2em 0;
}

.images__img {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  padding: 1.8em 0;
}

.images__img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.images__img--one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.images__img--two {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.images__img--three {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.images__img--four {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.footer-top {
  background-color: #222222;
  color: #fff;
}

.footer-top .three-columns--one {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-top__boxes {
  padding-bottom: 2em;
}

.footer-top__box {
  padding: 0 1em;
  text-align: left;
}

.footer-top__box-heading {
  font-size: 2rem;
  padding: 2em 0 0.8em 0;
}

.footer-top__box-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4em 0;
}

.footer-top__box-row i {
  font-size: 2.5rem;
  display: inline-block;
  width: 30px;
}

.footer-top__box-row p, .footer-top__box-row span, .footer-top__box-row b {
  margin-left: 1em;
  font-size: 1.5rem;
  padding-bottom: 0.5em;
}

.footer-top__box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-bottom {
  padding: 3em 0;
  height: 100%;
  max-height: 130px;
}

.footer-bottom-text {
  font-weight: 600;
  font-size: 1.4rem;
  color: #777777;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1em 0;
}

.footer-bottom i {
  font-size: 4rem;
  padding: 0.1em;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
  cursor: pointer;
}

.footer-bottom i:hover {
  color: #7cc576;
}

@media (min-width: 576px) {
  .header__heading {
    font-weight: 700;
    font-size: 5rem;
    padding: 0.8em;
    max-width: 570px;
    width: 100%;
  }
  .header__text {
    font-size: 2rem;
  }
  .opinions__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .opinions__box-img {
    width: 50%;
    max-width: 200px;
  }
  .opinions__box-img-two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .opinions__box-text {
    margin: 0 1em;
  }
  .opinions__box-span {
    font-size: 1.6rem;
  }
  .images__img--one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .images__img--two {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .images__img--three {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .images__img--four {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .footer-top__boxes {
    padding: 2em 0;
  }
  .footer-top .three-columns--one {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: block;
  }
  .nav-desktop__item {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1em;
    color: #777777;
    position: relative;
  }
  .header {
    padding-top: 2.5em;
  }
  .header__img {
    margin-top: 2.5em;
  }
  .header__burger-btn {
    display: none;
  }
  .relax__cog {
    background-image: url(../img/cog.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #e9e9e9;
    width: 30%;
  }
  .relax__content {
    width: 70%;
  }
  .portfolio__tablet {
    display: block;
    width: 25%;
    bottom: 120px;
    background-position: bottom left;
  }
}

@media (min-width: 992px) {
  .header__heading {
    font-weight: 700;
    font-size: 6rem;
    padding: 0.8em;
    max-width: 680px;
    width: 100%;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .services__boxes {
    padding-top: 4em;
  }
  .services__box {
    padding: 1em;
  }
  .services__box-heading {
    font-size: 2.5rem;
  }
  .relax__content {
    padding-left: 6em;
  }
  .portfolio__tablet {
    display: block;
    width: 40%;
    bottom: 0;
    background-position: unset;
  }
  .opinions__box-img {
    max-width: 250px;
  }
  .opinions__box-paragraph {
    font-size: 1.3em;
  }
  .opinions__box-text {
    margin: 0 3em;
    padding: 4em 2em;
  }
  .opinions__box-span {
    font-size: 2rem;
  }
  .images {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
  .images__img--one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .images__img--two {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .images__img--three {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .images__img--four {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
  }
}
/*# sourceMappingURL=main.css.map */